# Streamlit secrets - NEVER commit these!
.streamlit/secrets.toml

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
virtualenv/
env/
venv/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/ 